{% extends 'layout/navbar.html' %} {% load static %} {% block title %}
Blog-Tienda{% endblock %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div id="carrito"></div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card p-3">
        <form method="GET" action="{% url 'blog_search' %}">
          <input
            type="text"
            name="q"
            placeholder="Busca por título"
            value="{{ query|default:'' }}"
            class="form-control mb-2"
          />
          <button class="btn btn-success" type="submit">Buscar</button>
        </form>

        <hr />

        {% if blogs_inp %} {% for s in blogs_inp %}
        <h4>{{ s.titulo }}</h4>
        <img
          src="{{s.portada.url}}"
          alt="{{s.titulo}}"
          class="img-fluid rounded shadow-sm w-100 mb-3"
          style="max-width: 400px; height: auto"
        />
        {% empty %}
        <p>No se encontraron resultados.</p>
        {% endfor %} {% endif %}
      </div>
    </div>
  </div>
</div>

<div
  class="d-flex flex-wrap justify-content-center gap-4 mb-sm-5 mt-sm-5 pt-sm-3 pb-sm-3"
>
  {% for b in blogs_all %}
  <div class="card shadow-sm border-0" style="width: 20rem">
    {% if b.disponible %}
    <span class="badge bg-success rounded-pill d-block mx-auto"
      >Disponible</span
    >
    {% else %}
    <span class="badge bg-danger rounded-pill d-block mx-auto"
      >No disponible</span
    >
    {% endif %} {% if b.portada %}
    <img
      src="{{ b.portada.url }}"
      class="card-img img-fluid"
      alt="{{ b.titulo }}"
      style="height: 200px; object-fit: contain"
    />
    {% else %}
    <img
      src="{% static 'img/default.jpg' %}"
      class="card-img-top img-fluid"
      alt="Sin portada"
      style="height: 200px; object-fit: contain"
    />
    {% endif %}

    <div class="card-body">
      <h4 class="card-title text-center text-uppercase text-success mb-3">
        {{ b.titulo }}
      </h4>
      <p class="card-text text-center mb-2 text-capitalize text-bg-dark|">
        <span class="badge bg-success">Autor</span><br />
        {{ b.autor }}
      </p>
      <span class="rounded-pill bg-success precioProducto">{{b.precio}}</span>
      <p class="text-muted small text-center visually-hidden">{{ b.fecha }}</p>

      <div class="d-grid mt-3">
        <button class="btn btn-success rounded-pill add_to_cart">
          <ion-icon name="cart"></ion-icon>
        </button>
      </div>
    </div>
  </div>
  {% empty %}
  <p class="text-center text-muted">No hay blogs disponibles.</p>
  {% endfor %}
</div>

<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>

<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
/>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.js"
></script>

<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
